form{
    padding-right: 211px;
    padding-left: 496px;
    padding-top: 50px;
}
    
body{
    
    background-image: url("../images/loginBG.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
input[type="button"]{
    width: 80px;
    height: 42px;
    border-radius: 10px;
    outline: none;
    
}
input[type="text"] , [type="password"]{
    height: 42px;
    width: 323px;
    border-radius: 5px;
    outline: none;
}
